# ===============================
# OS system files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Node & package managers
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Build / Cache
# ===============================
dist/
build/
.cache/
.tmp/
*.log

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Environment & configs
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Other
# ===============================
*.zip
*.tar.gz
*.bak
